*{

	margin: 0;
	padding: 0;
	box-sizing: 0;

}

body{

	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: "source sans pro", sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	background-color: white;

}

.container {

	background-color: white;

}

.inversed {

	background-color: black;

}

.inversed .container{

	background-color: black;

}

h1{

	color: #000000;
	padding: 20px;
	text-align: center;
	font-size: 40px;


}

.paragraph{

	color: #000000;
	width: 70%;
	margin: 0 auto;
	padding: 20px;
	font-size: 20px;
	text-align: justify;


}

.inversed h1 {

	color: white;
	background-color: black;

}

.inversed .paragraph {

	color: white;
	background-color: black;


}

.inversed i {

	color: white !important;
	background-color: black;

}

.switch{

	border: none;
	position: fixed;
	top: 31px;
	right: 49px;
	cursor: pointer;
	background-color: #fff;

}

.switch i{

	color: #000000;
	padding: 5px;
	font-size: 50px;

}
